@import 'bootstrap';
@import 'github';
@import 'ngTreeView';

.hljs {
  background: transparent;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}
///////////////////////////
.tree-view {
  ul {
    list-style: none;
  }
}

.main {
  width: 100%;
  .menu-box {
    width: 250px;
    position: absolute;
    top: 0;
    left:0;
    min-height: 100%;
    border-right: 1px solid #dfdfdf;
  }
  .content-box {
    margin-left: 250px;
    padding: 20px;
    pre {
      border: none;
      background-color: #f7f7f7;
    }

    .code {
      background: #fff;
      padding-top: 0;
      border-radius: 4px;
    }

    .method {
      color: #999;
      font-size: 12px;
    }
    .url {
      color: #d14;
    }
    .list-group-item.activated {
      background-color: #f0f0f0;
    }
  }
}
